img{
    width: 45px;
    border-radius: 50%;
    margin-right: 20px;
}
.btn{
    float: right;
}
.content{
    display: inline-block;
    cursor: pointer;
    font-size: 16px;
}
li{
    background-color: #1a1a1b;
    color: rgb(240, 240, 240, 0.85);
    margin-top: 10px;
    border-radius: 10px;
}
ul{
    border-radius: 10px;
}