<ul class="list-group list-group-flush">
    <li class="list-group-item" *ngFor="let user of userRequests">
        <div class="content" (click)="viewUser(user._id)">
            <img [src]="user.profileImage" class="img-responsive">
            {{ user.username }}
        </div>
        <div class="actions">
            <button class="btn btn-dark" type="button" (click)="onAcceptReq(user._id)">Accept</button>
            <button class="btn btn-dark" type="button" (click)="onRejectReq(user._id)">Remove</button>
        </div>
    </li>
</ul>