<div class="row" *ngIf="post">
    <div class="col-lg-8">
        <div class="card">
            <img [src]="post.image" class="card-img-top" [alt]="post.title" *ngIf="post.image">
            <div class="card-body">
              <h2 class="card-title">{{ post.title }}</h2>
              <h4 class="card-subtitle mb-2 text-muted clickable" (click)="viewUser(post.userId)">Posted by {{ post.username }}</h4>
              <p class="card-text">{{ post.content }}</p>
              <button class="btn btn-outline-dark" type="button" (click)="upVote(post)" 
                  [ngClass]="(post.upvoted&&isAuth? 'active': '')" 
                  [disabled]="(post.downvoted&&isAuth)||!isAuth">{{ post.upvotes.up_count + ' '}}<fa-icon [icon]="arrowUp"></fa-icon></button>
              <button class="btn btn-outline-dark" type="button" (click)="downVote(post)"
                  [ngClass]="(post.downvoted&&isAuth? 'active': '')" 
                  [disabled]="(post.upvoted&&isAuth)||!isAuth">{{ post.downvotes.down_count + ' '}}<fa-icon [icon]="arrowDown"></fa-icon></button>
              <button class="btn btn-dark comment-btn" [disabled]="true"><fa-icon class="comment-icon" [icon]="commentFa"></fa-icon>{{ post.commentCount + ' comments'}}</button>
              <button class="btn btn-dark edit-btn" *ngIf="post.userId === userId" (click) = 'onEditPost(post.id)'>Edit</button>
              <button class="btn btn-light delete-btn" *ngIf="post.userId === userId" (click) = 'onDeletePost(post.id)'>Delete</button>
            </div>
        </div>
        <hr *ngIf="isAuth">
        <form [formGroup]="commentForm" (ngSubmit)="onComment()" *ngIf="isAuth">
            <div class="form-group">
                <label for="content"><h3 class="comment-label">Comment as {{ userName }}</h3></label>
                <textarea id="content" rows="3" formControlName="content" class="form-control"></textarea>
            </div>
            <button type="submit" class="btn btn-dark" [disabled]="!commentForm.valid">Comment</button>
        </form>
        <hr>
        <app-comments [comments] = 'comments' [postId]='post.id'></app-comments>
    </div>
    <div class="col-lg-4">
        <div class="row close-btn">
            <button class="btn btn-light" (click)="closePage()">Close</button>
        </div>
    </div>
</div>