form{
    max-width: 400px;
    margin: auto;
}  
.form-control{
    margin-bottom: 10px;
} 
.form-control:focus{
    box-shadow: none;
    outline: none;
}  
.alert{
    padding: 5px;
    padding-left: 10px;
}  
.message{
    margin-top: 30px;
    font-size: 20px;
    text-align: center;
}
.head{
    text-align: center;
}
.sub-head{
    text-align: center;
}
.btn{
    margin: auto;
    display: block;
}
.btn:focus {
    outline: none;
    box-shadow: none;
}
input, input:focus{
    background-color: #1a1a1b;
    color: rgb(240, 240, 240, 0.85);
    font-size: 16px;
    border: rgb(240, 240, 240, 0.85) 1px solid;
}
.auth-container{
    background-color:  #1a1a1b;
    max-width: 600px;
    margin: auto;
    padding: 30px;
    border-radius: 10px;
    margin-top: 5rem;
    color: rgb(240, 240, 240, 0.85);
}