ul {
    border-left: 1px rgb(240, 240, 240, 0.85) solid;
    background-color: #1a1a1b;
}
li{
    padding-top: 10px;
    padding-bottom: 0;
    background-color: #1a1a1b;
}
.username{
    font-size: 12px;
    margin-bottom: 3px;
}
.content{
    font-size: 16px;
    font-weight: 350;
    margin-bottom: 10px; 
}
.btn{
    font-size: 12px;
    padding: 5px;
    margin: 0 10px 15px 0;
}
.form-control{
    margin-bottom: 10px;
} 
.form-control:focus{
    box-shadow: none;
    outline: none;
}
.comment-div{
    background-color: #1a1a1b;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
textarea, textarea:focus{
    background-color: #1a1a1b;
    color: rgb(240, 240, 240, 0.85);
    font-size: 16px;
    font-weight: 350;
    border: rgb(240, 240, 240, 0.85) 1px solid;
}
