<div class="no-users row" *ngIf="users.length == 0">
    <h4 class="no-users-content">Users not found</h4>
</div>
<ul class="list-group list-group-flush">
    <li class="list-group-item" *ngFor="let user of users">
        <div>
            <img [src]="user.profileImage" class="img img-responsive">
            <div class="content">
                <h2>{{ user.username }}</h2>
                <button class="btn btn-dark" type="button" (click)="onViewProfile(user._id)">View Profile</button>
            </div>
        </div>
    </li>
</ul>
